@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
body{
  background: #f7eeff;
}
header{
  background: url('../assets/images/background-pattern-desktop.svg');
  height: 320px;
  position: relative;
}
.sobrepor {
  position: absolute; 
  top: 150px; 
  z-index: 1; 
}
.logo {
  display: flex;
  gap: 13px;
  color: #301534;
}

.faq{
  display: flex;
  justify-content: center;
  
}
.faqs{
  width: 520px;
}
.faqsModel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
}
.faqsModel img{
  cursor: pointer;
}
.content {
  width: 600px;
  padding: 40px;
  background: #fff;
  border-radius: 16px;
}
h3{
  color: #301534;
  transition: 1s;
}
h3:hover{
  color: #ac28eb;
}
p{
  color: #8b6990;
  margin-top: 24px;
}
.faqContent {
  display: none;
}
.closed{
  display: none;
}
.open {
  display: none;
}

@media (max-width: 610px) {
  .content {
    width: 327px;
    padding: 24px;
  }
  .faqs{
    width: 279px;
  }
}